<VirtualHost *:80>
  # Admin email, Server Name (domain name), and any aliases
    ServerAdmin {{ server_admin }}
    ServerName  {{ box_link }}

  # Index file and Document Root (where the public files are located)
    DirectoryIndex index.html {{ index }}
    DocumentRoot {{ root_dir }}

  # Log file locations
    LogLevel warn
    ErrorLog  {{ logs_dir }}/error.log
    CustomLog {{ logs_dir }}/access.log combined

  # Directory specifics & VM workarounds
    <Directory {{ root_dir }}>
        AllowOverride All
        Order allow,deny
        Allow from all
        EnableSendfile off
    </Directory>
</VirtualHost>
